doctype html
html(lang="en")
 head
  title Image Search Abstraction Layer by Mladen
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='/css/style.css')
 body
  #container
   h1 Image Search Abstraction Layer by MladenLo
   p Search for images on Internet
   p Example: 
    span.code https://image-search-abstraction-layer-mladenlo.c9users.io/search/lolcats%20funny?offset=10
   p (offset is optional and it serves as paginator)
   a#historyButton(href='/history') History
   